.browse_page{  
    clear:both;  
    margin-left:12px;  
    height:35px;  
    margin-top:5px;  
    display:block;  
}  
.browse_page a,.browse_page a:hover{  
    display:block;  
    height:18px;  
    width:18px;  
    font-size:10px;  
    float:left;  
    margin-right:2px;  
    border:1px solid #CCCCCC;  
    background-color:#F4F4F4;  
    color:#333333;  
    text-align:center;  
    line-height:18px;  
    font-weight:bold;  
    text-decoration:none;  
}  
.browse_page a:hover{  
    border:1px solid #0A85CB;  
    background-color:#0A85CB;  
    color:#FFFFFF;  
}  
.browse_page a.selectPage{  
    display:block;  
    height:18px;  
    width:18px;  
    font-size:10px;  
    float:left;  
    margin-right:2px;  
    border:1px solid #0A85CB;  
    background-color:#0A85CB;  
    color:#FFFFFF;  
    text-align:center;  
    line-height:18px;  
    font-weight:bold;  
}  
.browse_page a.SpaceC{  
    display:block;  
    height:18px;  
    width:18px;  
    font-size:10px;  
    float:left;  
    margin-right:2px;  
    border:0px dotted #0A85CB;  
    font-size:11px;  
    background-color:#FFFFFF;  
    color:#333333;  
    text-align:center;  
    line-height:18px;  
    font-weight:bold;  
}  
.browse_page a.naviPN{  
    width:50px;  
    font-size:12px;  
    display:block;  
    height:18px;  
    float:left;  
    border:1px solid #0A85CB;  
    background-color:#0A85CB;  
    color:#FFFFFF;  
    text-align:center;  
    line-height:18px;  
    font-weight:bold;     
}  
.browse_page a.naviPN:hover{  
    width:50px;  
    font-size:12px;  
    display:block;  
    height:18px;  
    float:left;  
    border:1px solid #0A85CB;  
    background-color:#0A85CB;  
    color:#FFFFFF;  
    text-align:center;  
    line-height:18px;  
    font-weight:bold;     
}  
